/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../sass/screen.scss */
.full-slide p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

/* =========== NAVIGATION ========== */
/* line 67, ../sass/screen.scss */
.top-bar {
  z-index: 2000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  background-color: #f2f2f2;
}
/* line 73, ../sass/screen.scss */
.top-bar .name {
  margin-left: 0;
  padding: 0 1rem;
  background: rgba(242, 242, 242, 0.6);
}
/* line 78, ../sass/screen.scss */
.top-bar .name h1 {
  text-shadow: 0px 0px 2px white;
  font-size: 1.4rem;
}

/* line 85, ../sass/screen.scss */
.top-bar .name h1 a {
  display: inline;
  text-shadow: none;
  color: #222;
}

/* line 92, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #354848;
  padding: 0 12px;
}
/* line 97, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #608383;
}

/* line 102, ../sass/screen.scss */
.top-bar .toggle-topbar.menu-icon a {
  color: #354848;
}

/* line 106, ../sass/screen.scss */
.top-bar .toggle-topbar.menu-icon a::after {
  box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
}

@media only screen and (max-width: 40em) {
  /* line 112, ../sass/screen.scss */
  .top-bar-section ul {
    background: #262626;
    color: #f2f2f2;
  }

  /* line 117, ../sass/screen.scss */
  .top-bar-section ul li > a {
    background: #f2f2f2;
    font-size: 1rem;
  }
}
/* line 124, ../sass/screen.scss */
.f-topbar-fixed {
  padding-top: 0px !important;
}

/* =========== HELPER CLASSES ========= */
/* line 130, ../sass/screen.scss */
.overflow-fix {
  overflow: hidden;
}

/* line 134, ../sass/screen.scss */
.inline-share {
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  padding: 1rem;
  margin: 0 0 1rem 0;
}
/* line 140, ../sass/screen.scss */
.inline-share .share-this {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0 0;
  color: #c1c1c1;
}
/* line 147, ../sass/screen.scss */
.inline-share .shareline {
  font-size: 1.6rem;
  font-weight: 100;
  color: #818181;
}
@media only screen and (min-width: 40.063em) {
  /* line 134, ../sass/screen.scss */
  .inline-share {
    width: 40%;
    float: right;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #f2f2f2;
    margin: 0 0 1rem 1rem;
    padding: 0 1rem;
  }
  /* line 162, ../sass/screen.scss */
  .inline-share .share-this {
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem 0;
  }
  /* line 167, ../sass/screen.scss */
  .inline-share .shareline {
    font-size: 1.6rem;
    margin: 0 0 0 0;
    padding: 0;
  }
}

/* line 175, ../sass/screen.scss */
.button.twitter {
  padding: 0.4rem 1rem;
  background: #f2f2f2;
}

/* line 180, ../sass/screen.scss */
.button.facebook {
  padding: 0.4rem 1rem;
  background: #f2f2f2;
}

/* line 185, ../sass/screen.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

/* line 185, ../sass/screen.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 187, ../sass/screen.scss */
.main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 193, ../sass/screen.scss */
.leaflet-bottom, .leaflet-top {
  z-index: 10 !important;
}

/* line 198, ../sass/screen.scss */
.article-inline-list li {
  padding-bottom: 1rem;
}

/* line 203, ../sass/screen.scss */
.main-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 211, ../sass/screen.scss */
.cdvred {
  color: #a50916 !important;
}

/* line 215, ../sass/screen.scss */
.fixed {
  z-index: 500 !important;
}

/* line 220, ../sass/screen.scss */
.cdvdark {
  color: #262626 !important;
}

/* line 224, ../sass/screen.scss */
.cdvteal {
  color: #354848 !important;
}

/* line 228, ../sass/screen.scss */
.line-height-fix {
  line-height: 1.6;
}

/* line 232, ../sass/screen.scss */
.dark-bkg {
  background: #262626;
  color: #f2f2f2;
}

/* line 237, ../sass/screen.scss */
.lead-graph {
  font-size: 1.4rem;
}

/* line 241, ../sass/screen.scss */
.small-caps {
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 249, ../sass/screen.scss */
.drop-cap:first-letter {
  font-family: "Clarendon-light",Times New Roman,serif;
  font-weight: normal;
  font-style: normal;
  font-size: 7.6rem;
  color: #222;
  text-rendering: optimizeLegibility;
  float: left;
  line-height: 6.6rem;
  padding-right: 0.6rem;
}

/* line 261, ../sass/screen.scss */
.no-margin {
  margin: 0 !important;
}

/* line 265, ../sass/screen.scss */
.pad-top {
  padding-top: 4rem;
}

/* line 269, ../sass/screen.scss */
.pad-top-half {
  padding-top: 1rem;
}

/* line 273, ../sass/screen.scss */
.z-1 {
  z-index: 1;
}

/* line 277, ../sass/screen.scss */
.z-10 {
  z-index: 10;
}

/* line 281, ../sass/screen.scss */
.z-100 {
  z-index: 100;
}

/* line 285, ../sass/screen.scss */
.cover-background {
  background-size: cover;
  background-position: center center;
  height: 102%;
}

/* line 291, ../sass/screen.scss */
.cover-background.ani-set {
  -webkit-transition: -webkit-filter 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
  -webkit-filter: blur(0px);
}

/* line 296, ../sass/screen.scss */
.cover-background.animated {
  -webkit-filter: blur(3px);
}

/* line 300, ../sass/screen.scss */
.cover-darken {
  background: #262626;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateZ(0);
}

/* line 312, ../sass/screen.scss */
.height-fix {
  height: 100%;
}

/* line 316, ../sass/screen.scss */
.full-hero {
  position: relative;
}

/* line 320, ../sass/screen.scss */
#story-body-copy {
  padding-top: 1rem;
}

/* line 324, ../sass/screen.scss */
.accordion {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* line 329, ../sass/screen.scss */
.accordion-navigation {
  position: relative;
}

/* line 333, ../sass/screen.scss */
.accordion-anchor-fix {
  position: absolute;
  top: -45px;
}

/* ========== STRUCTURE CLASSES ========== */
@media only screen and (max-width: 40em) {
  /* line 342, ../sass/screen.scss */
  .pull-image {
    padding: 0 0 1rem;
  }
  /* line 345, ../sass/screen.scss */
  .pull-image .caption {
    color: #666;
    margin: 1rem 0;
  }
  /* line 350, ../sass/screen.scss */
  .pull-image .reveal-modal {
    max-height: 400px !important;
    min-height: 400px !important;
    overflow: auto !important;
    top: 40px !important;
  }

  /* line 358, ../sass/screen.scss */
  .factbox {
    max-width: 45%;
    padding: 0 0 0 0.62rem;
    margin: 0 0 0.62rem 0.62rem;
    word-wrap: break-word;
  }
  /* line 364, ../sass/screen.scss */
  .factbox hr {
    border: solid #333;
    border-width: 2px 0 0;
  }
  /* line 369, ../sass/screen.scss */
  .factbox h2 {
    font-size: 100%;
    color: #737373;
  }
  /* line 374, ../sass/screen.scss */
  .factbox p {
    font-size: 60%;
    color: #737373;
    margin-bottom: 0;
  }

  /* line 381, ../sass/screen.scss */
  .factbox.right {
    border-left: 4px solid #eee;
  }

  /* line 385, ../sass/screen.scss */
  .factbox.right.panel {
    border-left: 1px solid #d8d8d8;
    padding: 1rem;
  }

  /* line 390, ../sass/screen.scss */
  .factbox.left {
    margin-left: -20%;
  }

  /* line 394, ../sass/screen.scss */
  .factbox-wider {
    max-width: 100% !important;
    width: 100%;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 403, ../sass/screen.scss */
  .factbox-full {
    margin: 3rem -26.6667%;
  }

  /* line 407, ../sass/screen.scss */
  .factbox {
    max-width: 300px;
    padding: 0 1.62rem;
    margin: 0 1.62rem 1.62rem;
    word-wrap: break-word;
  }
  /* line 413, ../sass/screen.scss */
  .factbox hr {
    border: solid #333;
    border-width: 2px 0 0;
  }
  /* line 418, ../sass/screen.scss */
  .factbox h2 {
    font-size: 120%;
    color: #737373;
  }
  /* line 423, ../sass/screen.scss */
  .factbox p {
    font-size: 80%;
    color: #737373;
  }

  /* line 429, ../sass/screen.scss */
  .factbox.right {
    margin-right: -20%;
    border-left: 4px solid #eee;
  }

  /* line 434, ../sass/screen.scss */
  .factbox.right.panel {
    margin-right: -20%;
    border-left: 1px solid #d8d8d8;
    padding: 1rem;
  }

  /* line 440, ../sass/screen.scss */
  .factbox.left {
    margin-left: -20%;
  }

  /* line 444, ../sass/screen.scss */
  .factbox-embed {
    max-width: 420px;
    width: 420px;
  }

  /* line 449, ../sass/screen.scss */
  .factbox-wider {
    max-width: 500px;
    width: 500px;
  }

  /* line 454, ../sass/screen.scss */
  .factbox-video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    clear: both;
  }

  /* line 461, ../sass/screen.scss */
  .factbox-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 469, ../sass/screen.scss */
  .pull-image {
    padding: 0 1.62rem;
  }
  /* line 472, ../sass/screen.scss */
  .pull-image .caption {
    color: #666;
    margin: 1rem 0;
    max-width: 320px;
    font-size: 80%;
  }

  /* line 479, ../sass/screen.scss */
  .pull-image.right {
    margin-right: -20%;
  }

  /* line 482, ../sass/screen.scss */
  .pull-image.left {
    margin-left: -20%;
  }
}
/* line 489, ../sass/screen.scss */
.parts-label-topbar {
  padding: 0 12px;
  line-height: 40px;
}

/* line 494, ../sass/screen.scss */
#intro {
  z-index: -1;
}

@media only screen and (max-width: 40em) {
  /* line 499, ../sass/screen.scss */
  .intro-video {
    max-height: 260px !important;
  }
}
/* line 505, ../sass/screen.scss */
section#content {
  margin: 0;
}

/* line 509, ../sass/screen.scss */
#content.opaque-section {
  background: #fff;
  z-index: 10;
}

/* line 514, ../sass/screen.scss */
.stats-row {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* line 519, ../sass/screen.scss */
.stats-row > div {
  border-right: 1px solid #c1c1c1;
}

/* line 523, ../sass/screen.scss */
.stats-row > div:last-child {
  border-right: none;
}

/* line 527, ../sass/screen.scss */
.big-stat {
  font-size: 3rem;
  font-weight: 100;
  color: #354848;
  text-align: center;
  padding-top: 1rem;
}
@media only screen and (max-width: 40em) {
  /* line 527, ../sass/screen.scss */
  .big-stat {
    font-size: 1rem;
  }
}

/* line 539, ../sass/screen.scss */
.factoid {
  color: #c1c1c1;
  padding: 0 2rem;
}

/* line 543, ../sass/screen.scss */
.stat-description {
  color: #757575;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 2rem 0 2rem;
}
@media only screen and (max-width: 40em) {
  /* line 543, ../sass/screen.scss */
  .stat-description {
    font-size: 0.3rem;
    padding: 1rem 0.2rem 0 0.2rem;
  }
}

/* line 556, ../sass/screen.scss */
.legend label,
.legend span {
  display: block;
  float: left;
  height: 15px;
  width: 16.66%;
  text-align: center;
  font-size: 9px;
  color: #808080;
}

/* line 566, ../sass/screen.scss */
.rail-left {
  float: left;
  margin-left: -20%;
  margin-right: 1.6rem;
}
@media only screen and (max-width: 40em) {
  /* line 566, ../sass/screen.scss */
  .rail-left {
    margin-left: 0;
    padding: 0;
  }
}

/* line 577, ../sass/screen.scss */
.w-75 {
  width: 75%;
}
@media only screen and (max-width: 40em) {
  /* line 577, ../sass/screen.scss */
  .w-75 {
    width: 100%;
  }
}

/* line 585, ../sass/screen.scss */
.problem-sep {
  width: 18%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

/* line 591, ../sass/screen.scss */
.faces-sep {
  width: 48%;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

/* line 597, ../sass/screen.scss */
.row-map {
  height: 700px;
}
@media only screen and (max-width: 40em) {
  /* line 597, ../sass/screen.scss */
  .row-map {
    height: 300px;
  }
}

/* line 605, ../sass/screen.scss */
.rail-map {
  height: 500px;
}
@media only screen and (max-width: 40em) {
  /* line 605, ../sass/screen.scss */
  .rail-map {
    height: 300px;
  }
}

/* line 613, ../sass/screen.scss */
.rail-image {
  max-width: 58.33%;
  margin-top: 0.4rem;
}

/* line 618, ../sass/screen.scss */
.rail-image.pull-left {
  margin-left: -16%;
  padding: 0 2rem 1rem 0;
}
@media only screen and (max-width: 40em) {
  /* line 618, ../sass/screen.scss */
  .rail-image.pull-left {
    margin-left: 0;
    padding: 0;
  }
}

/* line 628, ../sass/screen.scss */
.rail-image.pull-right {
  margin-right: -16%;
  padding: 0 1rem 2rem;
}

/* line 634, ../sass/screen.scss */
.rail-image .caption {
  color: #757575;
  font-size: 0.8rem;
  padding: 1rem;
  line-height: 1.6;
}

/* line 644, ../sass/screen.scss */
.image-caption {
  color: #757575;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
/* line 649, ../sass/screen.scss */
.image-caption p {
  font-size: 0.8rem;
}

/* line 654, ../sass/screen.scss */
.image-caption.text-right {
  padding: 0 0 2rem 0;
}

/* line 658, ../sass/screen.scss */
.image-caption.text-left {
  padding: 0 0 2rem 0;
}

/* line 662, ../sass/screen.scss */
a.close.pull-right {
  padding: 0 0 1rem 1rem;
}

/* line 666, ../sass/screen.scss */
.caption-row {
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 30%;
  padding: 1rem 1.6rem;
  background: rgba(242, 242, 242, 0.9);
}
/* line 674, ../sass/screen.scss */
.caption-row .image-caption {
  color: #686868;
  padding-bottom: 0;
  margin-bottom: 0;
  font-style: normal;
}
@media only screen and (max-width: 40em) {
  /* line 666, ../sass/screen.scss */
  .caption-row {
    position: inherit;
    left: 0%;
    bottom: 0%;
    width: 100%;
  }
  /* line 687, ../sass/screen.scss */
  .caption-row .close {
    display: none;
  }
}

/* line 693, ../sass/screen.scss */
.art-row-image {
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
}
@media only screen and (max-width: 40em) {
  /* line 693, ../sass/screen.scss */
  .art-row-image {
    height: auto !important;
  }
  /* line 701, ../sass/screen.scss */
  .art-row-image .cover-background {
    height: 250px;
    margin-top: -5%;
  }
}

/* line 710, ../sass/screen.scss */
.scroll-call {
  font-weight: 100;
  letter-spacing: 0.3rem;
  font-variant: small-caps;
  margin-top: 1rem;
  line-height: 1.6rem;
}
/* line 717, ../sass/screen.scss */
.scroll-call i {
  font-size: 1.6rem;
  line-height: 0.6rem;
}

/* line 723, ../sass/screen.scss */
.scroll-call.leg {
  position: absolute;
  bottom: 5%;
  left: 25%;
  font-weight: 100;
  letter-spacing: 0.3rem;
  font-variant: small-caps;
  margin-top: 1rem;
  line-height: 1.6rem;
}

/* line 734, ../sass/screen.scss */
.scroll-call.ani-set {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transition: transform 0.4s ease-out 5, opacity 0.4s ease-out 5s;
  -webkit-transition: -webkit-transform 0.4s ease-out 5s, opacity 0.4s ease-out 5s;
  -webkit-backface-visibility: hidden;
}

/* line 743, ../sass/screen.scss */
.scroll-call.ani-set-short {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transition: transform 0.4s ease-out 1s, opacity 0.4s ease-out 1s;
  -webkit-transition: -webkit-transform 0.4s ease-out 1s, opacity 0.4s ease-out 1s;
  -webkit-backface-visibility: hidden;
}

/* line 752, ../sass/screen.scss */
.scroll-call.animated {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  -webkit-transform: translate3d(0, 0%, 0);
}

/* line 758, ../sass/screen.scss */
.gen-head-red {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: #262626;
  height: auto;
  padding: 2rem;
  color: #fff;
  width: auto;
  max-width: 50%;
  z-index: 2;
  text-align: center;
}
/* line 773, ../sass/screen.scss */
.gen-head-red h1 {
  font-size: 4rem;
  color: #fff;
}
/* line 778, ../sass/screen.scss */
.gen-head-red h3 {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* line 785, ../sass/screen.scss */
.gen-head-red hr {
  width: 6rem;
  margin: 1rem auto;
  border-bottom: 1px solid #fff;
}
@media only screen and (min-width: 40.063em) and (max-width: 64.875em) {
  /* line 758, ../sass/screen.scss */
  .gen-head-red {
    max-width: 60%;
  }
}
@media only screen and (max-width: 40em) {
  /* line 758, ../sass/screen.scss */
  .gen-head-red {
    padding: 1rem;
    width: 85%;
    max-width: 85%;
  }
  /* line 799, ../sass/screen.scss */
  .gen-head-red h1 {
    font-size: 1.8rem;
  }
  /* line 802, ../sass/screen.scss */
  .gen-head-red h3 {
    font-size: 0.8rem;
  }
}

/* line 809, ../sass/screen.scss */
.row.problems .columns:last-child {
  float: left;
}

/* line 814, ../sass/screen.scss */
.gen-head-red.ani-set {
  opacity: 0;
  transition: opacity 1.8s ease-out 3.2s;
  -webkit-transition: opacity 1.8s ease-out 3.2s;
  -webkit-backface-visibility: hidden;
}

/* line 821, ../sass/screen.scss */
.gen-head-red.ani-set.delay {
  transition: opacity 1.8s ease-out 5.2s;
  -webkit-transition: opacity 1.8s ease-out 5.8s;
}

/* line 826, ../sass/screen.scss */
.gen-head-red.animated {
  opacity: 1;
}

/* line 830, ../sass/screen.scss */
.gen-head-red.teal-bkg {
  background: #354848;
}

/* line 834, ../sass/screen.scss */
.teal-bkg {
  background: #354848;
}

/* line 838, ../sass/screen.scss */
.gen-tease-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 22%;
  padding: 0;
  margin: 0 auto;
  width: 55%;
  z-index: 2;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-animation-fill-mode: both;
}
@media only screen and (min-width: 40.063em) and (max-width: 64.875em) {
  /* line 838, ../sass/screen.scss */
  .gen-tease-wrap {
    top: 18%;
  }
}
@media only screen and (max-width: 40em) {
  /* line 838, ../sass/screen.scss */
  .gen-tease-wrap {
    width: 80%;
    top: 15%;
  }
}

/* line 861, ../sass/screen.scss */
.gen-tease {
  color: #f2f2f2;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 100;
  text-align: center;
}
@media only screen and (min-width: 40.063em) and (max-width: 64.875em) {
  /* line 861, ../sass/screen.scss */
  .gen-tease {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 861, ../sass/screen.scss */
  .gen-tease {
    font-size: 0.8rem;
  }
}

/* line 877, ../sass/screen.scss */
.gen-tease.ani-set {
  opacity: 0;
  transition: opacity 1s ease-out, transform 4s ease-out;
  -webkit-transition: opacity 1s ease-in-out 0s, -webkit-transform 5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-filter 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transform: scale(0.9);
  -webkit-transform: scale3d(0.95, 0.95, 0.95);
  -webkit-filter: blur(6px);
  -webkit-backface-visibility: hidden;
  -webkit-animation-fill-mode: both;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-perspective: 1000;
}

/* line 891, ../sass/screen.scss */
.gen-tease.ani-set.delay {
  transition: opacity 1s ease-out, transform 4s ease-out;
  -webkit-transition: opacity 1s ease-in-out 3s, -webkit-transform 5s cubic-bezier(0.215, 0.61, 0.355, 1) 3s, -webkit-filter 2s cubic-bezier(0.165, 0.84, 0.44, 1) 3.5s;
}

/* line 896, ../sass/screen.scss */
.gen-tease.animated {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-filter: blur(0px);
}

/* ========== LEGISLATIVE STUFF ========== */
/* line 905, ../sass/screen.scss */
.legislative-head-red {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #a50916;
  height: 40%;
  padding: 2rem;
  color: #fff;
  width: 45%;
  z-index: 2;
}
/* line 916, ../sass/screen.scss */
.legislative-head-red h1 {
  font-size: 4rem;
  color: #fff;
}
/* line 921, ../sass/screen.scss */
.legislative-head-red h3 {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* line 928, ../sass/screen.scss */
.legislative-head-red hr {
  width: 6rem;
  margin: 1rem 0;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 40em) {
  /* line 905, ../sass/screen.scss */
  .legislative-head-red {
    padding: 1rem;
    width: 80%;
    right: 10%;
  }
  /* line 938, ../sass/screen.scss */
  .legislative-head-red h1 {
    font-size: 2rem;
  }
  /* line 941, ../sass/screen.scss */
  .legislative-head-red h3 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 40em) {
  /* line 948, ../sass/screen.scss */
  .scroll-call.leg {
    z-index: 50;
    bottom: 2%;
  }
}
/* line 954, ../sass/screen.scss */
.legislative-tease {
  position: absolute;
  left: 10%;
  top: 30%;
  padding: 0;
  margin: 0;
  width: 40%;
  z-index: 2;
  color: #f2f2f2;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 100;
}
@media only screen and (max-width: 40em) {
  /* line 954, ../sass/screen.scss */
  .legislative-tease {
    width: 80%;
    font-size: 0.8rem;
    top: 15%;
  }
}

/* line 974, ../sass/screen.scss */
.legislative-tease.ani-set {
  opacity: 0;
  transition: opacity 1s ease-out, transform 4s ease-out;
  -webkit-transition: opacity 1s ease-in-out 0s, -webkit-transform 5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-filter 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transform: scale(0.9);
  -webkit-transform: scale3d(0.95, 0.95, 0.95);
  -webkit-filter: blur(6px);
  -webkit-backface-visibility: hidden;
  -webkit-animation-fill-mode: both;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-perspective: 1000;
}

/* line 988, ../sass/screen.scss */
.legislative-tease.ani-set.delay {
  transition: opacity 1s ease-out, transform 4s ease-out;
  -webkit-transition: opacity 1s ease-in-out 3s, -webkit-transform 5s cubic-bezier(0.215, 0.61, 0.355, 1) 3s, -webkit-filter 2s cubic-bezier(0.165, 0.84, 0.44, 1) 3.5s;
}

/* line 993, ../sass/screen.scss */
.legislative-tease.animated {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-filter: blur(0px);
}

/* line 1000, ../sass/screen.scss */
.leg-subhead {
  background-color: #f2f2f2;
  height: 500px;
  width: 140%;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}
/* line 1010, ../sass/screen.scss */
.leg-subhead .cover-background {
  height: 120%;
}
/* line 1014, ../sass/screen.scss */
.leg-subhead h2 {
  position: absolute;
}
@media only screen and (max-width: 40em) {
  /* line 1000, ../sass/screen.scss */
  .leg-subhead {
    width: 100%;
    max-height: 260px;
  }
}

/* line 1024, ../sass/screen.scss */
.leg-subhead.leg-left {
  margin-left: -40%;
  margin-top: 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 1024, ../sass/screen.scss */
  .leg-subhead.leg-left {
    margin-left: 0%;
    margin-top: 2rem;
  }
}

/* line 1033, ../sass/screen.scss */
.leg-subhead.leg-right {
  margin-right: -35%;
  margin-top: 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 1033, ../sass/screen.scss */
  .leg-subhead.leg-right {
    margin-right: 0%;
    margin-top: 2rem;
  }
}

/* line 1042, ../sass/screen.scss */
.leg-subhead.leg-contain {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

/* line 1049, ../sass/screen.scss */
.leg-subhead small {
  word-break: keep-all;
}

/* ========== DAY ONE VIDEO SLIDES ========== */
/* line 1056, ../sass/screen.scss */
.full-slide {
  position: relative;
}
/* line 1059, ../sass/screen.scss */
.full-slide div {
  height: 100%;
}
/* line 1063, ../sass/screen.scss */
.full-slide p {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  width: 70%;
  font-weight: 100;
  margin: 0 auto;
  z-index: 10;
}
/* line 1073, ../sass/screen.scss */
.full-slide .video-slide-controls {
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s;
}

/* line 1085, ../sass/screen.scss */
.full-slide.video-done .video-slide-controls {
  opacity: 1;
}

/* line 1090, ../sass/screen.scss */
.video-slide {
  opacity: 0;
}

/* line 1094, ../sass/screen.scss */
.next-button {
  border: 2px solid #f2f2f2;
  padding: 1rem 2rem;
  color: #fff;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 8%;
  -webkit-transform: translateX(-50%);
}
@media only screen and (max-width: 40em) {
  /* line 1094, ../sass/screen.scss */
  .next-button {
    display: none;
  }
}

/* line 1109, ../sass/screen.scss */
.video-slide-controls .button-container {
  position: absolute;
  top: 50%;
  right: 10%;
  margin: 0 auto;
}
/* line 1116, ../sass/screen.scss */
.video-slide-controls .next-button {
  border: 2px solid #f2f2f2;
  padding: 1rem 2rem;
  color: #fff;
  letter-spacing: 0.3rem;
}

/* line 1124, ../sass/screen.scss */
.next-button:hover, .next-button:focus, .next-button:active {
  color: #262626;
  background: #f2f2f2;
}

/* ========== TIMELINE STYLES ========== */
/* line 1131, ../sass/screen.scss */
.timeline-container {
  height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 1138, ../sass/screen.scss */
.timeline-container.victims {
  border-right: 5px solid #262626;
}
/* line 1141, ../sass/screen.scss */
.timeline-container.victims .tl-icon {
  background-color: #262626;
  float: right;
  clear: both;
  text-align: right;
}
/* line 1148, ../sass/screen.scss */
.timeline-container.victims .tl-date {
  width: 100%;
  text-align: right;
  clear: both;
}
/* line 1154, ../sass/screen.scss */
.timeline-container.victims .tl-headline {
  text-align: right;
  clear: both;
}
/* line 1159, ../sass/screen.scss */
.timeline-container.victims .tl-month {
  float: right;
  padding: 0.3rem 0 0.3rem 0.6rem;
}
/* line 1164, ../sass/screen.scss */
.timeline-container.victims .tl-month-line {
  margin-right: 0;
  float: right;
}
/* line 1169, ../sass/screen.scss */
.timeline-container.victims hr {
  float: right;
  clear: both;
}

/* line 1175, ../sass/screen.scss */
.timeline-container.legislature {
  border-left: 5px solid #a50916;
}
/* line 1178, ../sass/screen.scss */
.timeline-container.legislature .tl-icon {
  background-color: #a50916;
}
/* line 1182, ../sass/screen.scss */
.timeline-container.legislature .tl-month {
  padding: 0.3rem 0.3rem 0.3rem 0;
}
/* line 1186, ../sass/screen.scss */
.timeline-container.legislature .tl-month-line {
  margin-right: 0.3rem;
  float: left;
}

/* line 1193, ../sass/screen.scss */
.tl-item {
  position: absolute;
  width: 100%;
}
/* line 1197, ../sass/screen.scss */
.tl-item .tl-icon {
  padding: 0.4rem;
  display: inline-block;
  clear: both;
  color: #fff;
}
/* line 1204, ../sass/screen.scss */
.tl-item .tl-date {
  padding: 0.4rem;
  font-size: 0.8rem;
  color: #8e8e8e;
}
/* line 1210, ../sass/screen.scss */
.tl-item .tl-headline {
  padding: 0 0.4rem;
  font-size: 0.8rem;
  color: #262626;
  line-height: 1rem;
  background: #fff;
}
/* line 1218, ../sass/screen.scss */
.tl-item .tl-month {
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  color: #9b9b9b;
  background: #fff;
}
/* line 1226, ../sass/screen.scss */
.tl-item .tl-month-line {
  height: 0px;
  width: 0.6rem;
  background: #262626;
  border-bottom: 0.1rem solid #c1c1c1;
  margin-top: 0.8rem;
  content: "";
  display: inline-block;
}
/* line 1236, ../sass/screen.scss */
.tl-item hr {
  width: 2rem;
  color: #c1c1c1;
  margin: 0.6rem 0.4rem;
}

/* ========== TITLE PAGE STYLES ========== */
/* line 1245, ../sass/screen.scss */
.title-video {
  position: absolute;
  left: 0;
}

/* line 1249, ../sass/screen.scss */
.title-video-row {
  position: relative;
  height: 730px;
  padding: 0;
  margin: 0;
}

/* line 1255, ../sass/screen.scss */
.special-title-box {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 42%;
  height: 100%;
  padding: 3rem 2rem 2rem 2rem;
  background: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 40em) {
  /* line 1255, ../sass/screen.scss */
  .special-title-box {
    left: 0;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
  }
}

/* line 1270, ../sass/screen.scss */
h1.special-title {
  color: #fff;
  margin-top: 2rem;
  font-size: 3.2rem;
}
@media only screen and (max-width: 40em) {
  /* line 1270, ../sass/screen.scss */
  h1.special-title {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 64.938em) {
  /* line 1270, ../sass/screen.scss */
  h1.special-title {
    font-size: 4.2rem;
  }
}

/* line 1282, ../sass/screen.scss */
h1.special-title a {
  color: #fff;
}

/* line 1286, ../sass/screen.scss */
h4.special-title {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 1rem;
  width: 60%;
  font-size: 1.2rem;
}
@media only screen and (max-width: 40em) {
  /* line 1286, ../sass/screen.scss */
  h4.special-title {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 64.938em) {
  /* line 1286, ../sass/screen.scss */
  h4.special-title {
    font-size: 1.4rem;
  }
}

/* line 1301, ../sass/screen.scss */
aside.special-title {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 3rem;
  line-height: 1.6;
  font-size: 0.9rem;
}
@media only screen and (min-width: 64.938em) {
  /* line 1301, ../sass/screen.scss */
  aside.special-title {
    font-size: 1.2rem;
  }
}

/* line 1314, ../sass/screen.scss */
a.special-title {
  color: #000;
  background-color: #fff;
  margin-top: 1rem;
}

/* line 1319, ../sass/screen.scss */
aside.byline {
  line-height: 1.6;
  padding-bottom: 1rem;
  width: 75%;
  font-family: "Clarendon-light",Times New Roman,serif;
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 40em) {
  /* line 1319, ../sass/screen.scss */
  aside.byline {
    font-size: 0.8rem;
  }
}

/* line 1332, ../sass/screen.scss */
#hero-video {
  height: 100% !important;
  width: 100% !important;
}

/* line 1337, ../sass/screen.scss */
#hero-video > div > div {
  display: none;
}
