/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


$cdvred: #A50916;
$cdvlightgray: #f2f2f2;
$cdvdarkgrey: #c1c1c1;
$cdvteal: #354848;
$cdvdark: #262626;

.dark-bkg{
  background: $cdvdark;
  color: $cdvlightgray;
}

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.full-slide{
  position: relative;
  
  div{
    height: 100%;
  }

  p{
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    width: 70%;
    font-weight: 100;
    margin: 0 auto;
    @extend %vertical-align;
  }
  
  .video-slide-controls{
    opacity: 0;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    transition: opacity 0.2s;
  }
}

.full-slide.video-done {
  .video-slide-controls{
    opacity: 1;
  }
}

.video-slide {
  opacity: 0;
}

.row{
  .next-button {
    border: 2px solid $cdvlightgray;
    padding: 1rem 2rem;
    color: #fff;
    letter-spacing: 0.3rem;
    position: absolute;
    bottom: 5%;
    -webkit-transform: translateX(-50%);
  }
}

.video-slide-controls{
  .button-container{
    position: absolute;
    top: 50%;
    right: 10%;
    margin: 0 auto;
  }

  .next-button {
    border: 2px solid $cdvlightgray;
    padding: 1rem 2rem;
    color: #fff;
    letter-spacing: 0.3rem;
  }
}

.next-button:hover, .next-button:focus, .next-button:active {
  color: $cdvdark;
  background: $cdvlightgray;
}